# Frontend
streamlit
streamlit-chat

# Backend
fastapi
uvicorn
python-dotenv
pydantic
pydantic-settings

# LLM & RAG
openai
langchain
langchain-openai
chromadb
tiktoken

# Document Processing
python-docx
PyPDF2
pandas
openpyxl
watchdog

# Database
sqlmodel
alembic